.form
  display: flex
  padding: 25px

.upload
  margin-right: 130px
  width: 300px
  height: 250px

.fields
  width: 360px
  display: inline-block

  .input
    margin-bottom: 25px

.actions
  display: flex
  gap: 20px
