@import "@/common/styles/sass/_colors.sass"

.teams-add
  display: block

.wrapper
  background-color: #ffffff
  border-radius: 10px
  padding: 25px

.title
  display: block

  .text
    display: inline-block
    color: $red

  .forward-slash
    display: inline-block
    margin: 0 5px
    color: $light-grey

.form
  display: flex
  margin-top: 25px
  padding: 25px

.upload
  margin-right: 130px
  width: 300px
  height: 250px

.fields
  width: 360px
  display: inline-block

  .input
    margin-bottom: 25px

.actions
  display: flex
  gap: 20px
